body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	color: #000;
}

main {
	flex: 1 0 auto;
}
/* Remove footer margin added by materialize */
footer.page-footer {
	margin-top: 0px;
	padding-top: 0px;
}

ul.side-nav li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

ul.side-nav li:first-child {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

ul.side-nav.full, ul.side-nav.fixed {
	
}

.site-header {
	height: 56px;
	position: fixed;
	width: 100%;
	z-index: 99999;
}

nav {
	color: #000;
}

.custom {
	border: 1px solid #fff;
}

ul.dropdown-content li a {
	font-size: 13px;
}